.container {
  max-width: 1200px;
  margin: auto;
  margin-top: 2rem;
}

.main-layout {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 1rem;
}

.videos-layout {
  align-self: start;
  display: grid;
  grid-template-columns: 80% 20%;
  column-gap: 1rem;
}

.videos-layout a,
.videos-layout a:link,
.videos-layout a:hover,
.videos-layout a:active,
.videos-layout a:visited {
  text-decoration: none;
  color: black;
}

.date {
  font-style: italic;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
